


public class TestStudent {
        
    public static void main(String[] args) {
           
        Student st1 = new Student ();
        st1.setId = "1000000";
        st1.setName = "Lumlert";
        st1.showData();
    }
    
 }

----------------------------------------------------------------------------------


public class Student {
    private String id;
    private String name;
    String setId;
    String setName;
    
    void showData(){
        System.out.println("ID: "+id+",name: "+name);
    }

    public String getId() {
        return id;
    }

    public void setId(String id) {
        this.id = id;
    }

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }
    
     
        
    }

