


public class TestStudent {
        
    public static void main(String[] args) {
           
        Student st1 = new Student ();
        st1.setId = "1000000";
        st1.setName = "Lumlert";
        st1.showData();
    }
    
 }
